<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Registro de usuario</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans+Condensed:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="cabecera">
            <div id="superior">

                <img class="logo" src="/public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

                <div id="barraBusqueda"><input type="text" placeholder="Busca productos,marcas y más"><i class="fas fa-search iconLupa"></i></div>

                <div id="compraEnCuotas"><i class="fas fa-hand-holding-usd"></i><p>Compra en cuotas y sin tarjeta de crédito</p></div>

            </div>

            <div id="menu">

                <nav>

                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>

                    <ul>
                        <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                    </ul>

                </nav>

                <div class="burger-menu">

                    <i class="fas fa-bars"></i>

                </div>

            </div>

        </div>

    </header>
    <main>
        <h1 class="titulo">Crear cuenta</h1>

        <form action="">

            <input type="text" name="nombreApellido" placeholder="Nombre y Apellido" required>

            <input type="text" name="nombreUsuari@" placeholder="Nombre de Usuari@" required>

            <input type="email" name="email" placeholder="Correo Electrónico" required>

            <input type="text" name="domicilio" placeholder="Domicilio" required>

            <div class="itemForm">
                <label class="subtitulo" for="fechaNacimiento">Fecha de Nacimiento</label>
                <input name="fechaNacimiento" type="date" required>
            </div>

            <section class="itemForm">
            <label class="subtitulo" for="categoriasInteres">Categorias de interés</label>

                <div>
                    <input name="categoriasInteres"  type="checkbox" value="electro">
                    <label>Electro</label>
                </div>

                <div>
                    <input name="categoriasInteres" type="checkbox" value="moda">
                    <label>Moda</label>
                </div>   

                <div>
                    <input name="categoriasInteres" type="checkbox" value="hogar">
                    <label>Hogar</label>
                </div>  

                <div>
                    <input name="categoriasInteres" type="checkbox" value="jugueteria">
                    <label>Juguetería</label>
                </div>

                <div>
                    <input name="categoriasInteres" type="checkbox" value="vida sana">
                    <label>Vida Sana</label>
                </div>
            </section>

            <section class="itemForm">
                <label class="subtitulo" for="perfilUsuario">Perfil del usuario</label>
                <div>
                    <input type="checkbox" name="perfilUsuario" value="vendedor">
                    <label>Vendedor</label>
                </div>
                <div>
                    <input type="checkbox" name="perfilUsuario" value="comprador">
                    <label>Comprador</label>
                </div>
            </section>
         
            <div class="itemForm">
                <label class="subtitulo" for="fotoUsuario">Foto de usuario</label>
                <input type="file" name="fotoUsuario">
            </div>


            <input type="password" name="contra" placeholder="Contraseña" required>

            <input type="password" name="contraConfirmar" placeholder="Confirmar Contraseña" required>


            <button type="submit">Enviar</button>

            <button id="botonBorrar" type="reset">Borrar todo</button>
        </form>

    </main>
    
</body>

<footer>
    <article>

        <div><i class="fas fa-credit-card icon-footer"></i></div>

        <h5>Pagá con tarjeta o en efectivo</h5>

        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>

    </article>

    <article>

        <div><i class="fas fa-gift icon-footer"></i></div>

        <h5>Envío gratis desde $ 2.500</h5>

        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>

    </article>

    <article>

        <div><i class="fas fa-user-shield icon-footer"></i></div>

        <h5>Seguridad, de principio a fin</h5>

        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>

    </article>

    <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>

</footer>
</html>